In [2]:
#creating dataframes using lists
import pandas as pd
 
# list of strings
lst = ['I','am','a','student','of','vesit','college']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

         0
0        I
1       am
2        a
3  student
4       of
5    vesit
6  college

In [4]:
#creating dataframes using dictionaries
import pandas as pd

mydataset = {
  'cars': ["royal enfield", "harley davidson", "activa 3G"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

              cars  passings
0    royal enfield         3
1  harley davidson         7
2        activa 3G         2

In [5]:
#creating series using lists
import pandas as pd
 
# a simple list
list = ['a', 'd', 'i', 't', 'y','a']
 
# create series form a list
ser = pd.Series(list)
print(ser)

0    a
1    d
2    i
3    t
4    y
5    a
dtype: object

In [7]:
#creating series using dictionaries
import pandas as pd 
# a simple dictionary
dict = {'mercedes': 10000,
        'ford': 95000,
        'bugati': 30000}
 
# create series from dictionary
ser = pd.Series(dict)
 
print(ser)

mercedes    10000
ford        95000
bugati      30000
dtype: int64

In [10]:
#uploading csv file 
# importing pandas module 
import pandas as pd 
  
# making data frame 
data = pd.read_csv("nba.csv") 
  
# calling head() method  
# storing in new variable 
data_top = data.head() 
  
# display 
data_top

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [14]:
# displaying first 10 rows of csv file 
# Import the pandas library
import pandas as pd

# Load the nba.csv file into a DataFrame
nba_df = pd.read_csv('nba.csv')

# Display the first 10 rows using head()
print("First 10 rows:")
print(nba_df.head(10))

First 10 rows:
            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5   Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6  Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7   Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
8   Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9   Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0

             College      Salary
0              Texas   7730337.0
1          Marquette   6796117.0
2  Boston University         NaN
3      Georgia State   1148640.0
4                NaN   5000000.0
5                NaN  12000000.0
6                LSU   1170960.0
7            Gonzaga   2165160.0
8         Louisville   1824360.0
9     Oklahoma State   3431040.0

In [15]:
# displaying last 5 rows of csv file 
# Import the pandas library
import pandas as pd

# Load the nba.csv file into a DataFrame
nba_df = pd.read_csv('nba.csv')

# Display the last 5 rows using tail()
print("\nLast 5 rows:")
print(nba_df.tail(5))

Last 5 rows:
             Name       Team  Number Position   Age Height  Weight College  \
453  Shelvin Mack  Utah Jazz     8.0       PG  26.0    6-3   203.0  Butler
454     Raul Neto  Utah Jazz    25.0       PG  24.0    6-1   179.0     NaN
455  Tibor Pleiss  Utah Jazz    21.0        C  26.0    7-3   256.0     NaN
456   Jeff Withey  Utah Jazz    24.0        C  26.0    7-0   231.0  Kansas
457           NaN        NaN     NaN      NaN   NaN    NaN     NaN     NaN

        Salary
453  2433333.0
454   900000.0
455  2900000.0
456   947276.0
457        NaN